<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>글쓰기</title>
  <link href="/style.css" rel="stylesheet">
</head>
<body>
  <%- include('nav.ejs') %>
  <form class="form-box" action="/" method="POST">
    <div>
      제목 : <input name="title" type="text">
    </div>
    <div>
      내용 : <textarea name="content" rows="5" cols="50"></textarea>
    </div>
    <button type="submit">전송</button>
  </form>
</body>
</html>